<div class="mainBanner">

</div>
<div class="formContainter">
    <form id="registerForm" action="#">
        <input type="text" name="name" id="nameInput" placeholder="Your Name">
        <input type="text" name="email" id="emailInput" placeholder="Your email address">
        <input type="text" name="password" id="passInput" placeholder="Your password">
        <input type="submit" name="submit" id="submitInput" value="Sign Up">
        <span id="noAccount">Don't have an account? <a href="#">Sign Up</a>
        </span>
    </form>
</div>